@page "/history"
@using WeatherStation.Shared
@inject HttpClient Http
@inject IJSRuntime JSRunTime

<h1>History</h1>

<p>This component demonstrates fetching data from the server.</p>


<br />
<br />
@if (Loading)
{
    <p>Loading...</p>
}
<!-- Humidity Chart (line = device) -->
<div id="allHumidityChart" />

<!-- Temperature Chart (line = device) -->
<div id="allTemperatureChart" />


@code {
    private IDictionary<string, List<Temperature>> temps;
    private IDictionary<string, List<Humidity>> humidities;
    private bool Loading = false;
    protected override async Task OnInitializedAsync()
    {
        Loading=true;
        temps = await Http.GetJsonAsync<IDictionary<string, List<Temperature>>>("Query");
        humidities = await Http.GetJsonAsync<IDictionary<string, List<Humidity>>>("Humidity");
        LoadChart();
        Loading=false;
    }

    private void LoadChart()
    {
        JSRunTime.InvokeVoidAsync("drawSingleLineChart", new object[] { "allHumidityChart", "All Humidities Chart", ConvertHumidities(humidities) });
        JSRunTime.InvokeVoidAsync("drawSingleLineChart", new object[] { "allTemperatureChart", "All Temperature Chart", ConvertTemperatures(temps) });
    }

    private string[] ConvertTemperatures(IDictionary<string, List<Temperature>> temps)
    {
        var temperatureList = new List<string>();
        foreach (List<Temperature> deviceTemperatures in temps.Values)
        {
            foreach (Temperature temp in deviceTemperatures)
            {
                temperatureList.Add(temp.Time.ToString("dd-MM-yyyy HH:mm"));
                temperatureList.Add(temp.Device);
                temperatureList.Add(temp.Value.ToString());
            }
        }

        return temperatureList.ToArray();
    }

    private string[] ConvertHumidities(IDictionary<string, List<Humidity>> humidities)
    {
        var humidityList = new List<string>();
        foreach (List<Humidity> deviceHumidities in humidities.Values)
        {
            foreach (Humidity humidity in deviceHumidities)
            {
                humidityList.Add(humidity.Time.ToString("dd-MM-yyyy HH:mm"));
                humidityList.Add(humidity.Device);
                humidityList.Add(humidity.Value.ToString());
            }
        }

        return humidityList.ToArray();
    }

}