@page "/history"
@using WeatherStation.Shared
@inject HttpClient Http
@inject IJSRuntime JSRunTime

<h1>History</h1>

<p>This component demonstrates fetching data from the server.</p>

<!-- Some chart tests-->
<button class="btn btn-primary" @onclick="loadChart">Click to load a chart</button>
<div id="myHistoryChart"/>

<!-- Table values -->
@if (temps == null)
{
    <p>
        <em>Loading...</em>
    </p>
} else if (temps.Count == 0){
    <h2>No devices with readings available</h2>
} else
{
    @foreach (var deviceTemps in temps)
    {
        <h2>@deviceTemps.Key</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var temp in deviceTemps.Value)
            {
                <tr>
                    <td>@temp.Time</td>
                    <td>@temp.Value</td>
                </tr>
            }
            </tbody>
        </table>
    }
}

@code {
    private IDictionary<string, List<Temperature>> temps;
    private IDictionary<string, List<Humidity>> humidities;

    protected override async Task OnInitializedAsync()
    {
        temps = await Http.GetJsonAsync<IDictionary<string, List<Temperature>>>("Query");
        humidities = await Http.GetJsonAsync<IDictionary<string, List<Humidity>>>("Query");
    }

    private void loadChart ()
    {
        JSRunTime.InvokeVoidAsync("drawHistoryChart", "myHistoryChart");
    }

}